/* Theis is Styles sections */
* {
  margin: 0;
  padding: 0;
}
/* Font Family */
.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #b8c0fe22;
}

header {
  background-image: url("../Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 698px;
  width: 100%;
  background-color: rgba(8, 0, 251, 0.023);
  border-bottom: 1px dashed rgba(128, 128, 128, 0.278);
}
.HeroSection {
  width: 1200px;
  margin: auto;
  padding: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.logo {
  font-size: 45px;
  font-weight: 900;
  color: rgb(78, 71, 255);
  list-style: none;
}

.primary-button {
  font-size: 18px;
  padding: 12px 18px;
  background-color: rgb(78, 71, 255);
  border-radius: 8px;
  color: white;
  list-style: none;
  margin: auto 0px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  text-align: center;
}
.primary-button:hover {
  background-color: rgb(58, 51, 230);
  transform: scale(1.05);
}
.hero-content {
  text-align: center;
  margin: auto;
}
.header-text {
  font-size: 64px;
  font-weight: 600;
  width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 32px;
}

/* MAin Sections */

main {
  width: 1200px;
  margin: auto;
}
.ActionSection {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
  align-items: center;
}
.ActionSection h2 {
  font-size: 32px;
  font-weight: 600;
}
.ActionSection p {
  margin: 20px 0px;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  width: 517px;
}

.ActionSection-img img {
  border-radius: 24px;
}

/* ======================================================== */

.stats-section {
  background-color: #e8ebfd;
  border: 1px dashed #aab8ff;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  max-width: 800px;
  margin: 80px auto;
}

.stats-section h2 {
  font-size: 24px;
  color: #1e1e1e;
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.stat-box {
  min-width: 100px;
}

.stat-number {
  font-size: 82px;
  font-weight: bold;
  color: #4c5bff;
}

.stat-label {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

/* -=============== Contact Sections ========= */

.contact-section {
  margin-bottom: 120px;
  background-color: #f7f9ff;
  padding: 36px 0px;
}

.container {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  align-items: center;
  background: #f7f9ff;
}

.contact-text {
  width: 528px;
  font-size: 44px;
  font-weight: 700;
  color: #000;
}

.contact-form {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background: white;
}

.contact-form button {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  padding: 16px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #4338ca;
}

/* ============== Fotter Sections============= */

footer {
  background-color: #ffffff;
}

.footer-section {
  width: 1200px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 100px 0px;
}

.footer-section p {
  width: 680px;
  text-align: center;
  font-size: 20px;
  color: #777;
}

.footer-logo {
  font-size: 84px;
  font-weight: 900;
  color: rgb(78, 71, 255);
  list-style: none;
}

.footer-menu li {
  list-style: none;
  font-size: 18px;
  color: #777;
}
.footer-menu {
  display: flex;
  gap: 20px;
}
